<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DeckBox.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD5916C42DE2BF1500D273B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD5916D42DE2BF1700D273B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD5916DE2DE2BF1700D273B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
